.axis path{ 

    fill:none; 
    stroke:#000;
}

.axis text{ 

    font-family: "HelveticaNeue-Light"
}

.axis .tick text{ 

    font-size:0.8em; 
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue";
    font-kerning:none; 
}

svg{ 
   margin: 0 auto;
  color: white;
  padding: 15px;
  margin: 5px auto;
}
 

